/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// MemeTagAPIService MemeTagAPI service
type MemeTagAPIService service

type ApiDeleteMemeTagRequest struct {
	ctx context.Context
	ApiService *MemeTagAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteMemeTagRequest) Depth(depth int64) ApiDeleteMemeTagRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteMemeTagRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMemeTagExecute(r)
}

/*
DeleteMemeTag Method for DeleteMemeTag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteMemeTagRequest
*/
func (a *MemeTagAPIService) DeleteMemeTag(ctx context.Context, primaryKey string) ApiDeleteMemeTagRequest {
	return ApiDeleteMemeTagRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *MemeTagAPIService) DeleteMemeTagExecute(r ApiDeleteMemeTagRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeTagAPIService.DeleteMemeTag")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/meme-tags/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMemeTagRequest struct {
	ctx context.Context
	ApiService *MemeTagAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetMemeTagRequest) Depth(depth int64) ApiGetMemeTagRequest {
	r.depth = &depth
	return r
}

func (r ApiGetMemeTagRequest) Execute() (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	return r.ApiService.GetMemeTagExecute(r)
}

/*
GetMemeTag Method for GetMemeTag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetMemeTagRequest
*/
func (a *MemeTagAPIService) GetMemeTag(ctx context.Context, primaryKey string) ApiGetMemeTagRequest {
	return ApiGetMemeTagRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMemeTag
func (a *MemeTagAPIService) GetMemeTagExecute(r ApiGetMemeTagRequest) (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMemeTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeTagAPIService.GetMemeTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/meme-tags/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMemeTagsRequest struct {
	ctx context.Context
	ApiService *MemeTagAPIService
	limit *int32
	offset *int32
	depth *int32
	memeLoad *string
	tagLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	memeIdEq *string
	memeIdNe *string
	memeIdGt *string
	memeIdGte *string
	memeIdLt *string
	memeIdLte *string
	memeIdIn *string
	memeIdNotin *string
	memeIdContains *string
	memeIdNotcontains *string
	memeIdLike *string
	memeIdNotlike *string
	memeIdIlike *string
	memeIdNotilike *string
	memeIdDesc *string
	memeIdAsc *string
	memeIdObjectContains *interface{}
	memeIdObjectNotcontains *interface{}
	memeIdObjectDesc *string
	memeIdObjectAsc *string
	tagIdEq *string
	tagIdNe *string
	tagIdGt *string
	tagIdGte *string
	tagIdLt *string
	tagIdLte *string
	tagIdIn *string
	tagIdNotin *string
	tagIdContains *string
	tagIdNotcontains *string
	tagIdLike *string
	tagIdNotlike *string
	tagIdIlike *string
	tagIdNotilike *string
	tagIdDesc *string
	tagIdAsc *string
	tagIdObjectContains *interface{}
	tagIdObjectNotcontains *interface{}
	tagIdObjectDesc *string
	tagIdObjectAsc *string
}

// SQL LIMIT operator
func (r ApiGetMemeTagsRequest) Limit(limit int32) ApiGetMemeTagsRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetMemeTagsRequest) Offset(offset int32) ApiGetMemeTagsRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetMemeTagsRequest) Depth(depth int32) ApiGetMemeTagsRequest {
	r.depth = &depth
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) MemeLoad(memeLoad string) ApiGetMemeTagsRequest {
	r.memeLoad = &memeLoad
	return r
}

// load the given directly related object, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) TagLoad(tagLoad string) ApiGetMemeTagsRequest {
	r.tagLoad = &tagLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) IdEq(idEq string) ApiGetMemeTagsRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) IdNe(idNe string) ApiGetMemeTagsRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) IdGt(idGt string) ApiGetMemeTagsRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) IdGte(idGte string) ApiGetMemeTagsRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) IdLt(idLt string) ApiGetMemeTagsRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) IdLte(idLte string) ApiGetMemeTagsRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) IdIn(idIn string) ApiGetMemeTagsRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) IdNotin(idNotin string) ApiGetMemeTagsRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) IdContains(idContains string) ApiGetMemeTagsRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) IdNotcontains(idNotcontains string) ApiGetMemeTagsRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) IdLike(idLike string) ApiGetMemeTagsRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) IdNotlike(idNotlike string) ApiGetMemeTagsRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) IdIlike(idIlike string) ApiGetMemeTagsRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) IdNotilike(idNotilike string) ApiGetMemeTagsRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) IdDesc(idDesc string) ApiGetMemeTagsRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) IdAsc(idAsc string) ApiGetMemeTagsRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) CreatedAtEq(createdAtEq time.Time) ApiGetMemeTagsRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) CreatedAtNe(createdAtNe time.Time) ApiGetMemeTagsRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) CreatedAtGt(createdAtGt time.Time) ApiGetMemeTagsRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) CreatedAtGte(createdAtGte time.Time) ApiGetMemeTagsRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) CreatedAtLt(createdAtLt time.Time) ApiGetMemeTagsRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) CreatedAtLte(createdAtLte time.Time) ApiGetMemeTagsRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) CreatedAtIn(createdAtIn time.Time) ApiGetMemeTagsRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetMemeTagsRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) CreatedAtContains(createdAtContains time.Time) ApiGetMemeTagsRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetMemeTagsRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) CreatedAtLike(createdAtLike time.Time) ApiGetMemeTagsRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetMemeTagsRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetMemeTagsRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetMemeTagsRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) CreatedAtDesc(createdAtDesc string) ApiGetMemeTagsRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) CreatedAtAsc(createdAtAsc string) ApiGetMemeTagsRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetMemeTagsRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetMemeTagsRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetMemeTagsRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetMemeTagsRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetMemeTagsRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetMemeTagsRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetMemeTagsRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetMemeTagsRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetMemeTagsRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetMemeTagsRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetMemeTagsRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetMemeTagsRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetMemeTagsRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetMemeTagsRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetMemeTagsRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetMemeTagsRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetMemeTagsRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetMemeTagsRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetMemeTagsRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetMemeTagsRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetMemeTagsRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetMemeTagsRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetMemeTagsRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetMemeTagsRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetMemeTagsRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetMemeTagsRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetMemeTagsRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetMemeTagsRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetMemeTagsRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetMemeTagsRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) DeletedAtDesc(deletedAtDesc string) ApiGetMemeTagsRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) DeletedAtAsc(deletedAtAsc string) ApiGetMemeTagsRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) MemeIdEq(memeIdEq string) ApiGetMemeTagsRequest {
	r.memeIdEq = &memeIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) MemeIdNe(memeIdNe string) ApiGetMemeTagsRequest {
	r.memeIdNe = &memeIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) MemeIdGt(memeIdGt string) ApiGetMemeTagsRequest {
	r.memeIdGt = &memeIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) MemeIdGte(memeIdGte string) ApiGetMemeTagsRequest {
	r.memeIdGte = &memeIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) MemeIdLt(memeIdLt string) ApiGetMemeTagsRequest {
	r.memeIdLt = &memeIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) MemeIdLte(memeIdLte string) ApiGetMemeTagsRequest {
	r.memeIdLte = &memeIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) MemeIdIn(memeIdIn string) ApiGetMemeTagsRequest {
	r.memeIdIn = &memeIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) MemeIdNotin(memeIdNotin string) ApiGetMemeTagsRequest {
	r.memeIdNotin = &memeIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) MemeIdContains(memeIdContains string) ApiGetMemeTagsRequest {
	r.memeIdContains = &memeIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) MemeIdNotcontains(memeIdNotcontains string) ApiGetMemeTagsRequest {
	r.memeIdNotcontains = &memeIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) MemeIdLike(memeIdLike string) ApiGetMemeTagsRequest {
	r.memeIdLike = &memeIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) MemeIdNotlike(memeIdNotlike string) ApiGetMemeTagsRequest {
	r.memeIdNotlike = &memeIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) MemeIdIlike(memeIdIlike string) ApiGetMemeTagsRequest {
	r.memeIdIlike = &memeIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) MemeIdNotilike(memeIdNotilike string) ApiGetMemeTagsRequest {
	r.memeIdNotilike = &memeIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) MemeIdDesc(memeIdDesc string) ApiGetMemeTagsRequest {
	r.memeIdDesc = &memeIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) MemeIdAsc(memeIdAsc string) ApiGetMemeTagsRequest {
	r.memeIdAsc = &memeIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) MemeIdObjectContains(memeIdObjectContains interface{}) ApiGetMemeTagsRequest {
	r.memeIdObjectContains = &memeIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) MemeIdObjectNotcontains(memeIdObjectNotcontains interface{}) ApiGetMemeTagsRequest {
	r.memeIdObjectNotcontains = &memeIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) MemeIdObjectDesc(memeIdObjectDesc string) ApiGetMemeTagsRequest {
	r.memeIdObjectDesc = &memeIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) MemeIdObjectAsc(memeIdObjectAsc string) ApiGetMemeTagsRequest {
	r.memeIdObjectAsc = &memeIdObjectAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemeTagsRequest) TagIdEq(tagIdEq string) ApiGetMemeTagsRequest {
	r.tagIdEq = &tagIdEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemeTagsRequest) TagIdNe(tagIdNe string) ApiGetMemeTagsRequest {
	r.tagIdNe = &tagIdNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) TagIdGt(tagIdGt string) ApiGetMemeTagsRequest {
	r.tagIdGt = &tagIdGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) TagIdGte(tagIdGte string) ApiGetMemeTagsRequest {
	r.tagIdGte = &tagIdGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) TagIdLt(tagIdLt string) ApiGetMemeTagsRequest {
	r.tagIdLt = &tagIdLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemeTagsRequest) TagIdLte(tagIdLte string) ApiGetMemeTagsRequest {
	r.tagIdLte = &tagIdLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) TagIdIn(tagIdIn string) ApiGetMemeTagsRequest {
	r.tagIdIn = &tagIdIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemeTagsRequest) TagIdNotin(tagIdNotin string) ApiGetMemeTagsRequest {
	r.tagIdNotin = &tagIdNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) TagIdContains(tagIdContains string) ApiGetMemeTagsRequest {
	r.tagIdContains = &tagIdContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) TagIdNotcontains(tagIdNotcontains string) ApiGetMemeTagsRequest {
	r.tagIdNotcontains = &tagIdNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) TagIdLike(tagIdLike string) ApiGetMemeTagsRequest {
	r.tagIdLike = &tagIdLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) TagIdNotlike(tagIdNotlike string) ApiGetMemeTagsRequest {
	r.tagIdNotlike = &tagIdNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) TagIdIlike(tagIdIlike string) ApiGetMemeTagsRequest {
	r.tagIdIlike = &tagIdIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemeTagsRequest) TagIdNotilike(tagIdNotilike string) ApiGetMemeTagsRequest {
	r.tagIdNotilike = &tagIdNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) TagIdDesc(tagIdDesc string) ApiGetMemeTagsRequest {
	r.tagIdDesc = &tagIdDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) TagIdAsc(tagIdAsc string) ApiGetMemeTagsRequest {
	r.tagIdAsc = &tagIdAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemeTagsRequest) TagIdObjectContains(tagIdObjectContains interface{}) ApiGetMemeTagsRequest {
	r.tagIdObjectContains = &tagIdObjectContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemeTagsRequest) TagIdObjectNotcontains(tagIdObjectNotcontains interface{}) ApiGetMemeTagsRequest {
	r.tagIdObjectNotcontains = &tagIdObjectNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) TagIdObjectDesc(tagIdObjectDesc string) ApiGetMemeTagsRequest {
	r.tagIdObjectDesc = &tagIdObjectDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemeTagsRequest) TagIdObjectAsc(tagIdObjectAsc string) ApiGetMemeTagsRequest {
	r.tagIdObjectAsc = &tagIdObjectAsc
	return r
}

func (r ApiGetMemeTagsRequest) Execute() (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	return r.ApiService.GetMemeTagsExecute(r)
}

/*
GetMemeTags Method for GetMemeTags

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMemeTagsRequest
*/
func (a *MemeTagAPIService) GetMemeTags(ctx context.Context) ApiGetMemeTagsRequest {
	return ApiGetMemeTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMemeTag
func (a *MemeTagAPIService) GetMemeTagsExecute(r ApiGetMemeTagsRequest) (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMemeTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeTagAPIService.GetMemeTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/meme-tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.memeLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme__load", r.memeLoad, "form", "")
	}
	if r.tagLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag__load", r.tagLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.memeIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__eq", r.memeIdEq, "form", "")
	}
	if r.memeIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__ne", r.memeIdNe, "form", "")
	}
	if r.memeIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__gt", r.memeIdGt, "form", "")
	}
	if r.memeIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__gte", r.memeIdGte, "form", "")
	}
	if r.memeIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__lt", r.memeIdLt, "form", "")
	}
	if r.memeIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__lte", r.memeIdLte, "form", "")
	}
	if r.memeIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__in", r.memeIdIn, "form", "")
	}
	if r.memeIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__notin", r.memeIdNotin, "form", "")
	}
	if r.memeIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__contains", r.memeIdContains, "form", "")
	}
	if r.memeIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__notcontains", r.memeIdNotcontains, "form", "")
	}
	if r.memeIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__like", r.memeIdLike, "form", "")
	}
	if r.memeIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__notlike", r.memeIdNotlike, "form", "")
	}
	if r.memeIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__ilike", r.memeIdIlike, "form", "")
	}
	if r.memeIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__notilike", r.memeIdNotilike, "form", "")
	}
	if r.memeIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__desc", r.memeIdDesc, "form", "")
	}
	if r.memeIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id__asc", r.memeIdAsc, "form", "")
	}
	if r.memeIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id_object__contains", r.memeIdObjectContains, "form", "")
	}
	if r.memeIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id_object__notcontains", r.memeIdObjectNotcontains, "form", "")
	}
	if r.memeIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id_object__desc", r.memeIdObjectDesc, "form", "")
	}
	if r.memeIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "meme_id_object__asc", r.memeIdObjectAsc, "form", "")
	}
	if r.tagIdEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__eq", r.tagIdEq, "form", "")
	}
	if r.tagIdNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__ne", r.tagIdNe, "form", "")
	}
	if r.tagIdGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__gt", r.tagIdGt, "form", "")
	}
	if r.tagIdGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__gte", r.tagIdGte, "form", "")
	}
	if r.tagIdLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__lt", r.tagIdLt, "form", "")
	}
	if r.tagIdLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__lte", r.tagIdLte, "form", "")
	}
	if r.tagIdIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__in", r.tagIdIn, "form", "")
	}
	if r.tagIdNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__notin", r.tagIdNotin, "form", "")
	}
	if r.tagIdContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__contains", r.tagIdContains, "form", "")
	}
	if r.tagIdNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__notcontains", r.tagIdNotcontains, "form", "")
	}
	if r.tagIdLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__like", r.tagIdLike, "form", "")
	}
	if r.tagIdNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__notlike", r.tagIdNotlike, "form", "")
	}
	if r.tagIdIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__ilike", r.tagIdIlike, "form", "")
	}
	if r.tagIdNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__notilike", r.tagIdNotilike, "form", "")
	}
	if r.tagIdDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__desc", r.tagIdDesc, "form", "")
	}
	if r.tagIdAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id__asc", r.tagIdAsc, "form", "")
	}
	if r.tagIdObjectContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id_object__contains", r.tagIdObjectContains, "form", "")
	}
	if r.tagIdObjectNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id_object__notcontains", r.tagIdObjectNotcontains, "form", "")
	}
	if r.tagIdObjectDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id_object__desc", r.tagIdObjectDesc, "form", "")
	}
	if r.tagIdObjectAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag_id_object__asc", r.tagIdObjectAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchMemeTagRequest struct {
	ctx context.Context
	ApiService *MemeTagAPIService
	primaryKey string
	memeTag *MemeTag
	depth *int64
}

func (r ApiPatchMemeTagRequest) MemeTag(memeTag MemeTag) ApiPatchMemeTagRequest {
	r.memeTag = &memeTag
	return r
}

// Query parameter depth
func (r ApiPatchMemeTagRequest) Depth(depth int64) ApiPatchMemeTagRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchMemeTagRequest) Execute() (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	return r.ApiService.PatchMemeTagExecute(r)
}

/*
PatchMemeTag Method for PatchMemeTag

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchMemeTagRequest
*/
func (a *MemeTagAPIService) PatchMemeTag(ctx context.Context, primaryKey string) ApiPatchMemeTagRequest {
	return ApiPatchMemeTagRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMemeTag
func (a *MemeTagAPIService) PatchMemeTagExecute(r ApiPatchMemeTagRequest) (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMemeTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeTagAPIService.PatchMemeTag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/meme-tags/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.memeTag == nil {
		return localVarReturnValue, nil, reportError("memeTag is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.memeTag
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMemeTagsRequest struct {
	ctx context.Context
	ApiService *MemeTagAPIService
	memeTag *[]MemeTag
	depth *int64
}

func (r ApiPostMemeTagsRequest) MemeTag(memeTag []MemeTag) ApiPostMemeTagsRequest {
	r.memeTag = &memeTag
	return r
}

// Query parameter depth
func (r ApiPostMemeTagsRequest) Depth(depth int64) ApiPostMemeTagsRequest {
	r.depth = &depth
	return r
}

func (r ApiPostMemeTagsRequest) Execute() (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	return r.ApiService.PostMemeTagsExecute(r)
}

/*
PostMemeTags Method for PostMemeTags

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostMemeTagsRequest
*/
func (a *MemeTagAPIService) PostMemeTags(ctx context.Context) ApiPostMemeTagsRequest {
	return ApiPostMemeTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMemeTag
func (a *MemeTagAPIService) PostMemeTagsExecute(r ApiPostMemeTagsRequest) (*ResponseWithGenericOfMemeTag, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMemeTag
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeTagAPIService.PostMemeTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/meme-tags"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.memeTag == nil {
		return localVarReturnValue, nil, reportError("memeTag is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.memeTag
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
