/*
Djangolang

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// MemeAPIService MemeAPI service
type MemeAPIService service

type ApiDeleteMemeRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiDeleteMemeRequest) Depth(depth int64) ApiDeleteMemeRequest {
	r.depth = &depth
	return r
}

func (r ApiDeleteMemeRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMemeExecute(r)
}

/*
DeleteMeme Method for DeleteMeme

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiDeleteMemeRequest
*/
func (a *MemeAPIService) DeleteMeme(ctx context.Context, primaryKey string) ApiDeleteMemeRequest {
	return ApiDeleteMemeRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
func (a *MemeAPIService) DeleteMemeExecute(r ApiDeleteMemeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.DeleteMeme")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMemeRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	primaryKey string
	depth *int64
}

// Query parameter depth
func (r ApiGetMemeRequest) Depth(depth int64) ApiGetMemeRequest {
	r.depth = &depth
	return r
}

func (r ApiGetMemeRequest) Execute() (*ResponseWithGenericOfMeme, *http.Response, error) {
	return r.ApiService.GetMemeExecute(r)
}

/*
GetMeme Method for GetMeme

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiGetMemeRequest
*/
func (a *MemeAPIService) GetMeme(ctx context.Context, primaryKey string) ApiGetMemeRequest {
	return ApiGetMemeRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMeme
func (a *MemeAPIService) GetMemeExecute(r ApiGetMemeRequest) (*ResponseWithGenericOfMeme, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMeme
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.GetMeme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMemesRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	limit *int32
	offset *int32
	depth *int32
	referencedByMemeTagLoad *string
	idEq *string
	idNe *string
	idGt *string
	idGte *string
	idLt *string
	idLte *string
	idIn *string
	idNotin *string
	idContains *string
	idNotcontains *string
	idLike *string
	idNotlike *string
	idIlike *string
	idNotilike *string
	idDesc *string
	idAsc *string
	createdAtEq *time.Time
	createdAtNe *time.Time
	createdAtGt *time.Time
	createdAtGte *time.Time
	createdAtLt *time.Time
	createdAtLte *time.Time
	createdAtIn *time.Time
	createdAtNotin *time.Time
	createdAtContains *time.Time
	createdAtNotcontains *time.Time
	createdAtLike *time.Time
	createdAtNotlike *time.Time
	createdAtIlike *time.Time
	createdAtNotilike *time.Time
	createdAtDesc *string
	createdAtAsc *string
	updatedAtEq *time.Time
	updatedAtNe *time.Time
	updatedAtGt *time.Time
	updatedAtGte *time.Time
	updatedAtLt *time.Time
	updatedAtLte *time.Time
	updatedAtIn *time.Time
	updatedAtNotin *time.Time
	updatedAtContains *time.Time
	updatedAtNotcontains *time.Time
	updatedAtLike *time.Time
	updatedAtNotlike *time.Time
	updatedAtIlike *time.Time
	updatedAtNotilike *time.Time
	updatedAtDesc *string
	updatedAtAsc *string
	deletedAtEq *time.Time
	deletedAtNe *time.Time
	deletedAtGt *time.Time
	deletedAtGte *time.Time
	deletedAtLt *time.Time
	deletedAtLte *time.Time
	deletedAtIn *time.Time
	deletedAtNotin *time.Time
	deletedAtContains *time.Time
	deletedAtNotcontains *time.Time
	deletedAtLike *time.Time
	deletedAtNotlike *time.Time
	deletedAtIlike *time.Time
	deletedAtNotilike *time.Time
	deletedAtDesc *string
	deletedAtAsc *string
	filenameEq *string
	filenameNe *string
	filenameGt *string
	filenameGte *string
	filenameLt *string
	filenameLte *string
	filenameIn *string
	filenameNotin *string
	filenameContains *string
	filenameNotcontains *string
	filenameLike *string
	filenameNotlike *string
	filenameIlike *string
	filenameNotilike *string
	filenameDesc *string
	filenameAsc *string
	originalNameEq *string
	originalNameNe *string
	originalNameGt *string
	originalNameGte *string
	originalNameLt *string
	originalNameLte *string
	originalNameIn *string
	originalNameNotin *string
	originalNameContains *string
	originalNameNotcontains *string
	originalNameLike *string
	originalNameNotlike *string
	originalNameIlike *string
	originalNameNotilike *string
	originalNameDesc *string
	originalNameAsc *string
	mimeTypeEq *string
	mimeTypeNe *string
	mimeTypeGt *string
	mimeTypeGte *string
	mimeTypeLt *string
	mimeTypeLte *string
	mimeTypeIn *string
	mimeTypeNotin *string
	mimeTypeContains *string
	mimeTypeNotcontains *string
	mimeTypeLike *string
	mimeTypeNotlike *string
	mimeTypeIlike *string
	mimeTypeNotilike *string
	mimeTypeDesc *string
	mimeTypeAsc *string
	sizeEq *int64
	sizeNe *int64
	sizeGt *int64
	sizeGte *int64
	sizeLt *int64
	sizeLte *int64
	sizeIn *int64
	sizeNotin *int64
	sizeContains *int64
	sizeNotcontains *int64
	sizeDesc *string
	sizeAsc *string
	descriptionEq *string
	descriptionNe *string
	descriptionGt *string
	descriptionGte *string
	descriptionLt *string
	descriptionLte *string
	descriptionIn *string
	descriptionNotin *string
	descriptionContains *string
	descriptionNotcontains *string
	descriptionLike *string
	descriptionNotlike *string
	descriptionIlike *string
	descriptionNotilike *string
	descriptionDesc *string
	descriptionAsc *string
	descriptionStatusEq *string
	descriptionStatusNe *string
	descriptionStatusGt *string
	descriptionStatusGte *string
	descriptionStatusLt *string
	descriptionStatusLte *string
	descriptionStatusIn *string
	descriptionStatusNotin *string
	descriptionStatusContains *string
	descriptionStatusNotcontains *string
	descriptionStatusLike *string
	descriptionStatusNotlike *string
	descriptionStatusIlike *string
	descriptionStatusNotilike *string
	descriptionStatusDesc *string
	descriptionStatusAsc *string
	descriptionGeneratedEq *int64
	descriptionGeneratedNe *int64
	descriptionGeneratedGt *int64
	descriptionGeneratedGte *int64
	descriptionGeneratedLt *int64
	descriptionGeneratedLte *int64
	descriptionGeneratedIn *int64
	descriptionGeneratedNotin *int64
	descriptionGeneratedContains *int64
	descriptionGeneratedNotcontains *int64
	descriptionGeneratedDesc *string
	descriptionGeneratedAsc *string
	sortOrderEq *int64
	sortOrderNe *int64
	sortOrderGt *int64
	sortOrderGte *int64
	sortOrderLt *int64
	sortOrderLte *int64
	sortOrderIn *int64
	sortOrderNotin *int64
	sortOrderContains *int64
	sortOrderNotcontains *int64
	sortOrderDesc *string
	sortOrderAsc *string
	metadataVersionEq *int64
	metadataVersionNe *int64
	metadataVersionGt *int64
	metadataVersionGte *int64
	metadataVersionLt *int64
	metadataVersionLte *int64
	metadataVersionIn *int64
	metadataVersionNotin *int64
	metadataVersionContains *int64
	metadataVersionNotcontains *int64
	metadataVersionDesc *string
	metadataVersionAsc *string
	aiWorkerClaimedUntilEq *time.Time
	aiWorkerClaimedUntilNe *time.Time
	aiWorkerClaimedUntilGt *time.Time
	aiWorkerClaimedUntilGte *time.Time
	aiWorkerClaimedUntilLt *time.Time
	aiWorkerClaimedUntilLte *time.Time
	aiWorkerClaimedUntilIn *time.Time
	aiWorkerClaimedUntilNotin *time.Time
	aiWorkerClaimedUntilContains *time.Time
	aiWorkerClaimedUntilNotcontains *time.Time
	aiWorkerClaimedUntilLike *time.Time
	aiWorkerClaimedUntilNotlike *time.Time
	aiWorkerClaimedUntilIlike *time.Time
	aiWorkerClaimedUntilNotilike *time.Time
	aiWorkerClaimedUntilDesc *string
	aiWorkerClaimedUntilAsc *string
	referencedByMemeTagMemeIdObjectsContains *interface{}
	referencedByMemeTagMemeIdObjectsNotcontains *interface{}
	referencedByMemeTagMemeIdObjectsDesc *string
	referencedByMemeTagMemeIdObjectsAsc *string
}

// SQL LIMIT operator
func (r ApiGetMemesRequest) Limit(limit int32) ApiGetMemesRequest {
	r.limit = &limit
	return r
}

// SQL OFFSET operator
func (r ApiGetMemesRequest) Offset(offset int32) ApiGetMemesRequest {
	r.offset = &offset
	return r
}

// Max recursion depth for loading foreign objects; default &#x3D; 1  (0 &#x3D; recurse until graph cycle detected, 1 &#x3D; this object only, 2 &#x3D; this object + neighbours, 3 &#x3D; this object + neighbours + their neighbours... etc)
func (r ApiGetMemesRequest) Depth(depth int32) ApiGetMemesRequest {
	r.depth = &depth
	return r
}

// load the given indirectly related objects, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) ReferencedByMemeTagLoad(referencedByMemeTagLoad string) ApiGetMemesRequest {
	r.referencedByMemeTagLoad = &referencedByMemeTagLoad
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) IdEq(idEq string) ApiGetMemesRequest {
	r.idEq = &idEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) IdNe(idNe string) ApiGetMemesRequest {
	r.idNe = &idNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) IdGt(idGt string) ApiGetMemesRequest {
	r.idGt = &idGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) IdGte(idGte string) ApiGetMemesRequest {
	r.idGte = &idGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) IdLt(idLt string) ApiGetMemesRequest {
	r.idLt = &idLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) IdLte(idLte string) ApiGetMemesRequest {
	r.idLte = &idLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) IdIn(idIn string) ApiGetMemesRequest {
	r.idIn = &idIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) IdNotin(idNotin string) ApiGetMemesRequest {
	r.idNotin = &idNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) IdContains(idContains string) ApiGetMemesRequest {
	r.idContains = &idContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) IdNotcontains(idNotcontains string) ApiGetMemesRequest {
	r.idNotcontains = &idNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) IdLike(idLike string) ApiGetMemesRequest {
	r.idLike = &idLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) IdNotlike(idNotlike string) ApiGetMemesRequest {
	r.idNotlike = &idNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) IdIlike(idIlike string) ApiGetMemesRequest {
	r.idIlike = &idIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) IdNotilike(idNotilike string) ApiGetMemesRequest {
	r.idNotilike = &idNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) IdDesc(idDesc string) ApiGetMemesRequest {
	r.idDesc = &idDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) IdAsc(idAsc string) ApiGetMemesRequest {
	r.idAsc = &idAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) CreatedAtEq(createdAtEq time.Time) ApiGetMemesRequest {
	r.createdAtEq = &createdAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) CreatedAtNe(createdAtNe time.Time) ApiGetMemesRequest {
	r.createdAtNe = &createdAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) CreatedAtGt(createdAtGt time.Time) ApiGetMemesRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) CreatedAtGte(createdAtGte time.Time) ApiGetMemesRequest {
	r.createdAtGte = &createdAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) CreatedAtLt(createdAtLt time.Time) ApiGetMemesRequest {
	r.createdAtLt = &createdAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) CreatedAtLte(createdAtLte time.Time) ApiGetMemesRequest {
	r.createdAtLte = &createdAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) CreatedAtIn(createdAtIn time.Time) ApiGetMemesRequest {
	r.createdAtIn = &createdAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) CreatedAtNotin(createdAtNotin time.Time) ApiGetMemesRequest {
	r.createdAtNotin = &createdAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) CreatedAtContains(createdAtContains time.Time) ApiGetMemesRequest {
	r.createdAtContains = &createdAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) CreatedAtNotcontains(createdAtNotcontains time.Time) ApiGetMemesRequest {
	r.createdAtNotcontains = &createdAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) CreatedAtLike(createdAtLike time.Time) ApiGetMemesRequest {
	r.createdAtLike = &createdAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) CreatedAtNotlike(createdAtNotlike time.Time) ApiGetMemesRequest {
	r.createdAtNotlike = &createdAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) CreatedAtIlike(createdAtIlike time.Time) ApiGetMemesRequest {
	r.createdAtIlike = &createdAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) CreatedAtNotilike(createdAtNotilike time.Time) ApiGetMemesRequest {
	r.createdAtNotilike = &createdAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) CreatedAtDesc(createdAtDesc string) ApiGetMemesRequest {
	r.createdAtDesc = &createdAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) CreatedAtAsc(createdAtAsc string) ApiGetMemesRequest {
	r.createdAtAsc = &createdAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) UpdatedAtEq(updatedAtEq time.Time) ApiGetMemesRequest {
	r.updatedAtEq = &updatedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) UpdatedAtNe(updatedAtNe time.Time) ApiGetMemesRequest {
	r.updatedAtNe = &updatedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) UpdatedAtGt(updatedAtGt time.Time) ApiGetMemesRequest {
	r.updatedAtGt = &updatedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) UpdatedAtGte(updatedAtGte time.Time) ApiGetMemesRequest {
	r.updatedAtGte = &updatedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) UpdatedAtLt(updatedAtLt time.Time) ApiGetMemesRequest {
	r.updatedAtLt = &updatedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) UpdatedAtLte(updatedAtLte time.Time) ApiGetMemesRequest {
	r.updatedAtLte = &updatedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) UpdatedAtIn(updatedAtIn time.Time) ApiGetMemesRequest {
	r.updatedAtIn = &updatedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) UpdatedAtNotin(updatedAtNotin time.Time) ApiGetMemesRequest {
	r.updatedAtNotin = &updatedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) UpdatedAtContains(updatedAtContains time.Time) ApiGetMemesRequest {
	r.updatedAtContains = &updatedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) UpdatedAtNotcontains(updatedAtNotcontains time.Time) ApiGetMemesRequest {
	r.updatedAtNotcontains = &updatedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) UpdatedAtLike(updatedAtLike time.Time) ApiGetMemesRequest {
	r.updatedAtLike = &updatedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) UpdatedAtNotlike(updatedAtNotlike time.Time) ApiGetMemesRequest {
	r.updatedAtNotlike = &updatedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) UpdatedAtIlike(updatedAtIlike time.Time) ApiGetMemesRequest {
	r.updatedAtIlike = &updatedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) UpdatedAtNotilike(updatedAtNotilike time.Time) ApiGetMemesRequest {
	r.updatedAtNotilike = &updatedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) UpdatedAtDesc(updatedAtDesc string) ApiGetMemesRequest {
	r.updatedAtDesc = &updatedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) UpdatedAtAsc(updatedAtAsc string) ApiGetMemesRequest {
	r.updatedAtAsc = &updatedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) DeletedAtEq(deletedAtEq time.Time) ApiGetMemesRequest {
	r.deletedAtEq = &deletedAtEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) DeletedAtNe(deletedAtNe time.Time) ApiGetMemesRequest {
	r.deletedAtNe = &deletedAtNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DeletedAtGt(deletedAtGt time.Time) ApiGetMemesRequest {
	r.deletedAtGt = &deletedAtGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DeletedAtGte(deletedAtGte time.Time) ApiGetMemesRequest {
	r.deletedAtGte = &deletedAtGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DeletedAtLt(deletedAtLt time.Time) ApiGetMemesRequest {
	r.deletedAtLt = &deletedAtLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DeletedAtLte(deletedAtLte time.Time) ApiGetMemesRequest {
	r.deletedAtLte = &deletedAtLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DeletedAtIn(deletedAtIn time.Time) ApiGetMemesRequest {
	r.deletedAtIn = &deletedAtIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DeletedAtNotin(deletedAtNotin time.Time) ApiGetMemesRequest {
	r.deletedAtNotin = &deletedAtNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) DeletedAtContains(deletedAtContains time.Time) ApiGetMemesRequest {
	r.deletedAtContains = &deletedAtContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) DeletedAtNotcontains(deletedAtNotcontains time.Time) ApiGetMemesRequest {
	r.deletedAtNotcontains = &deletedAtNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DeletedAtLike(deletedAtLike time.Time) ApiGetMemesRequest {
	r.deletedAtLike = &deletedAtLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DeletedAtNotlike(deletedAtNotlike time.Time) ApiGetMemesRequest {
	r.deletedAtNotlike = &deletedAtNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DeletedAtIlike(deletedAtIlike time.Time) ApiGetMemesRequest {
	r.deletedAtIlike = &deletedAtIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DeletedAtNotilike(deletedAtNotilike time.Time) ApiGetMemesRequest {
	r.deletedAtNotilike = &deletedAtNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DeletedAtDesc(deletedAtDesc string) ApiGetMemesRequest {
	r.deletedAtDesc = &deletedAtDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DeletedAtAsc(deletedAtAsc string) ApiGetMemesRequest {
	r.deletedAtAsc = &deletedAtAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) FilenameEq(filenameEq string) ApiGetMemesRequest {
	r.filenameEq = &filenameEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) FilenameNe(filenameNe string) ApiGetMemesRequest {
	r.filenameNe = &filenameNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) FilenameGt(filenameGt string) ApiGetMemesRequest {
	r.filenameGt = &filenameGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) FilenameGte(filenameGte string) ApiGetMemesRequest {
	r.filenameGte = &filenameGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) FilenameLt(filenameLt string) ApiGetMemesRequest {
	r.filenameLt = &filenameLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) FilenameLte(filenameLte string) ApiGetMemesRequest {
	r.filenameLte = &filenameLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) FilenameIn(filenameIn string) ApiGetMemesRequest {
	r.filenameIn = &filenameIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) FilenameNotin(filenameNotin string) ApiGetMemesRequest {
	r.filenameNotin = &filenameNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) FilenameContains(filenameContains string) ApiGetMemesRequest {
	r.filenameContains = &filenameContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) FilenameNotcontains(filenameNotcontains string) ApiGetMemesRequest {
	r.filenameNotcontains = &filenameNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) FilenameLike(filenameLike string) ApiGetMemesRequest {
	r.filenameLike = &filenameLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) FilenameNotlike(filenameNotlike string) ApiGetMemesRequest {
	r.filenameNotlike = &filenameNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) FilenameIlike(filenameIlike string) ApiGetMemesRequest {
	r.filenameIlike = &filenameIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) FilenameNotilike(filenameNotilike string) ApiGetMemesRequest {
	r.filenameNotilike = &filenameNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) FilenameDesc(filenameDesc string) ApiGetMemesRequest {
	r.filenameDesc = &filenameDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) FilenameAsc(filenameAsc string) ApiGetMemesRequest {
	r.filenameAsc = &filenameAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) OriginalNameEq(originalNameEq string) ApiGetMemesRequest {
	r.originalNameEq = &originalNameEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) OriginalNameNe(originalNameNe string) ApiGetMemesRequest {
	r.originalNameNe = &originalNameNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) OriginalNameGt(originalNameGt string) ApiGetMemesRequest {
	r.originalNameGt = &originalNameGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) OriginalNameGte(originalNameGte string) ApiGetMemesRequest {
	r.originalNameGte = &originalNameGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) OriginalNameLt(originalNameLt string) ApiGetMemesRequest {
	r.originalNameLt = &originalNameLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) OriginalNameLte(originalNameLte string) ApiGetMemesRequest {
	r.originalNameLte = &originalNameLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) OriginalNameIn(originalNameIn string) ApiGetMemesRequest {
	r.originalNameIn = &originalNameIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) OriginalNameNotin(originalNameNotin string) ApiGetMemesRequest {
	r.originalNameNotin = &originalNameNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) OriginalNameContains(originalNameContains string) ApiGetMemesRequest {
	r.originalNameContains = &originalNameContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) OriginalNameNotcontains(originalNameNotcontains string) ApiGetMemesRequest {
	r.originalNameNotcontains = &originalNameNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) OriginalNameLike(originalNameLike string) ApiGetMemesRequest {
	r.originalNameLike = &originalNameLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) OriginalNameNotlike(originalNameNotlike string) ApiGetMemesRequest {
	r.originalNameNotlike = &originalNameNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) OriginalNameIlike(originalNameIlike string) ApiGetMemesRequest {
	r.originalNameIlike = &originalNameIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) OriginalNameNotilike(originalNameNotilike string) ApiGetMemesRequest {
	r.originalNameNotilike = &originalNameNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) OriginalNameDesc(originalNameDesc string) ApiGetMemesRequest {
	r.originalNameDesc = &originalNameDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) OriginalNameAsc(originalNameAsc string) ApiGetMemesRequest {
	r.originalNameAsc = &originalNameAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) MimeTypeEq(mimeTypeEq string) ApiGetMemesRequest {
	r.mimeTypeEq = &mimeTypeEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) MimeTypeNe(mimeTypeNe string) ApiGetMemesRequest {
	r.mimeTypeNe = &mimeTypeNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) MimeTypeGt(mimeTypeGt string) ApiGetMemesRequest {
	r.mimeTypeGt = &mimeTypeGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) MimeTypeGte(mimeTypeGte string) ApiGetMemesRequest {
	r.mimeTypeGte = &mimeTypeGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) MimeTypeLt(mimeTypeLt string) ApiGetMemesRequest {
	r.mimeTypeLt = &mimeTypeLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) MimeTypeLte(mimeTypeLte string) ApiGetMemesRequest {
	r.mimeTypeLte = &mimeTypeLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) MimeTypeIn(mimeTypeIn string) ApiGetMemesRequest {
	r.mimeTypeIn = &mimeTypeIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) MimeTypeNotin(mimeTypeNotin string) ApiGetMemesRequest {
	r.mimeTypeNotin = &mimeTypeNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) MimeTypeContains(mimeTypeContains string) ApiGetMemesRequest {
	r.mimeTypeContains = &mimeTypeContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) MimeTypeNotcontains(mimeTypeNotcontains string) ApiGetMemesRequest {
	r.mimeTypeNotcontains = &mimeTypeNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) MimeTypeLike(mimeTypeLike string) ApiGetMemesRequest {
	r.mimeTypeLike = &mimeTypeLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) MimeTypeNotlike(mimeTypeNotlike string) ApiGetMemesRequest {
	r.mimeTypeNotlike = &mimeTypeNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) MimeTypeIlike(mimeTypeIlike string) ApiGetMemesRequest {
	r.mimeTypeIlike = &mimeTypeIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) MimeTypeNotilike(mimeTypeNotilike string) ApiGetMemesRequest {
	r.mimeTypeNotilike = &mimeTypeNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) MimeTypeDesc(mimeTypeDesc string) ApiGetMemesRequest {
	r.mimeTypeDesc = &mimeTypeDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) MimeTypeAsc(mimeTypeAsc string) ApiGetMemesRequest {
	r.mimeTypeAsc = &mimeTypeAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) SizeEq(sizeEq int64) ApiGetMemesRequest {
	r.sizeEq = &sizeEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) SizeNe(sizeNe int64) ApiGetMemesRequest {
	r.sizeNe = &sizeNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) SizeGt(sizeGt int64) ApiGetMemesRequest {
	r.sizeGt = &sizeGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) SizeGte(sizeGte int64) ApiGetMemesRequest {
	r.sizeGte = &sizeGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) SizeLt(sizeLt int64) ApiGetMemesRequest {
	r.sizeLt = &sizeLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) SizeLte(sizeLte int64) ApiGetMemesRequest {
	r.sizeLte = &sizeLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) SizeIn(sizeIn int64) ApiGetMemesRequest {
	r.sizeIn = &sizeIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) SizeNotin(sizeNotin int64) ApiGetMemesRequest {
	r.sizeNotin = &sizeNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) SizeContains(sizeContains int64) ApiGetMemesRequest {
	r.sizeContains = &sizeContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) SizeNotcontains(sizeNotcontains int64) ApiGetMemesRequest {
	r.sizeNotcontains = &sizeNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) SizeDesc(sizeDesc string) ApiGetMemesRequest {
	r.sizeDesc = &sizeDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) SizeAsc(sizeAsc string) ApiGetMemesRequest {
	r.sizeAsc = &sizeAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) DescriptionEq(descriptionEq string) ApiGetMemesRequest {
	r.descriptionEq = &descriptionEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) DescriptionNe(descriptionNe string) ApiGetMemesRequest {
	r.descriptionNe = &descriptionNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGt(descriptionGt string) ApiGetMemesRequest {
	r.descriptionGt = &descriptionGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGte(descriptionGte string) ApiGetMemesRequest {
	r.descriptionGte = &descriptionGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionLt(descriptionLt string) ApiGetMemesRequest {
	r.descriptionLt = &descriptionLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionLte(descriptionLte string) ApiGetMemesRequest {
	r.descriptionLte = &descriptionLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionIn(descriptionIn string) ApiGetMemesRequest {
	r.descriptionIn = &descriptionIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionNotin(descriptionNotin string) ApiGetMemesRequest {
	r.descriptionNotin = &descriptionNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) DescriptionContains(descriptionContains string) ApiGetMemesRequest {
	r.descriptionContains = &descriptionContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) DescriptionNotcontains(descriptionNotcontains string) ApiGetMemesRequest {
	r.descriptionNotcontains = &descriptionNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionLike(descriptionLike string) ApiGetMemesRequest {
	r.descriptionLike = &descriptionLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionNotlike(descriptionNotlike string) ApiGetMemesRequest {
	r.descriptionNotlike = &descriptionNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionIlike(descriptionIlike string) ApiGetMemesRequest {
	r.descriptionIlike = &descriptionIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionNotilike(descriptionNotilike string) ApiGetMemesRequest {
	r.descriptionNotilike = &descriptionNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionDesc(descriptionDesc string) ApiGetMemesRequest {
	r.descriptionDesc = &descriptionDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionAsc(descriptionAsc string) ApiGetMemesRequest {
	r.descriptionAsc = &descriptionAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) DescriptionStatusEq(descriptionStatusEq string) ApiGetMemesRequest {
	r.descriptionStatusEq = &descriptionStatusEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) DescriptionStatusNe(descriptionStatusNe string) ApiGetMemesRequest {
	r.descriptionStatusNe = &descriptionStatusNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionStatusGt(descriptionStatusGt string) ApiGetMemesRequest {
	r.descriptionStatusGt = &descriptionStatusGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionStatusGte(descriptionStatusGte string) ApiGetMemesRequest {
	r.descriptionStatusGte = &descriptionStatusGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionStatusLt(descriptionStatusLt string) ApiGetMemesRequest {
	r.descriptionStatusLt = &descriptionStatusLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionStatusLte(descriptionStatusLte string) ApiGetMemesRequest {
	r.descriptionStatusLte = &descriptionStatusLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionStatusIn(descriptionStatusIn string) ApiGetMemesRequest {
	r.descriptionStatusIn = &descriptionStatusIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionStatusNotin(descriptionStatusNotin string) ApiGetMemesRequest {
	r.descriptionStatusNotin = &descriptionStatusNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) DescriptionStatusContains(descriptionStatusContains string) ApiGetMemesRequest {
	r.descriptionStatusContains = &descriptionStatusContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) DescriptionStatusNotcontains(descriptionStatusNotcontains string) ApiGetMemesRequest {
	r.descriptionStatusNotcontains = &descriptionStatusNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionStatusLike(descriptionStatusLike string) ApiGetMemesRequest {
	r.descriptionStatusLike = &descriptionStatusLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionStatusNotlike(descriptionStatusNotlike string) ApiGetMemesRequest {
	r.descriptionStatusNotlike = &descriptionStatusNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionStatusIlike(descriptionStatusIlike string) ApiGetMemesRequest {
	r.descriptionStatusIlike = &descriptionStatusIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) DescriptionStatusNotilike(descriptionStatusNotilike string) ApiGetMemesRequest {
	r.descriptionStatusNotilike = &descriptionStatusNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionStatusDesc(descriptionStatusDesc string) ApiGetMemesRequest {
	r.descriptionStatusDesc = &descriptionStatusDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionStatusAsc(descriptionStatusAsc string) ApiGetMemesRequest {
	r.descriptionStatusAsc = &descriptionStatusAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) DescriptionGeneratedEq(descriptionGeneratedEq int64) ApiGetMemesRequest {
	r.descriptionGeneratedEq = &descriptionGeneratedEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) DescriptionGeneratedNe(descriptionGeneratedNe int64) ApiGetMemesRequest {
	r.descriptionGeneratedNe = &descriptionGeneratedNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGeneratedGt(descriptionGeneratedGt int64) ApiGetMemesRequest {
	r.descriptionGeneratedGt = &descriptionGeneratedGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGeneratedGte(descriptionGeneratedGte int64) ApiGetMemesRequest {
	r.descriptionGeneratedGte = &descriptionGeneratedGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGeneratedLt(descriptionGeneratedLt int64) ApiGetMemesRequest {
	r.descriptionGeneratedLt = &descriptionGeneratedLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) DescriptionGeneratedLte(descriptionGeneratedLte int64) ApiGetMemesRequest {
	r.descriptionGeneratedLte = &descriptionGeneratedLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionGeneratedIn(descriptionGeneratedIn int64) ApiGetMemesRequest {
	r.descriptionGeneratedIn = &descriptionGeneratedIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) DescriptionGeneratedNotin(descriptionGeneratedNotin int64) ApiGetMemesRequest {
	r.descriptionGeneratedNotin = &descriptionGeneratedNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) DescriptionGeneratedContains(descriptionGeneratedContains int64) ApiGetMemesRequest {
	r.descriptionGeneratedContains = &descriptionGeneratedContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) DescriptionGeneratedNotcontains(descriptionGeneratedNotcontains int64) ApiGetMemesRequest {
	r.descriptionGeneratedNotcontains = &descriptionGeneratedNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionGeneratedDesc(descriptionGeneratedDesc string) ApiGetMemesRequest {
	r.descriptionGeneratedDesc = &descriptionGeneratedDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) DescriptionGeneratedAsc(descriptionGeneratedAsc string) ApiGetMemesRequest {
	r.descriptionGeneratedAsc = &descriptionGeneratedAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) SortOrderEq(sortOrderEq int64) ApiGetMemesRequest {
	r.sortOrderEq = &sortOrderEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) SortOrderNe(sortOrderNe int64) ApiGetMemesRequest {
	r.sortOrderNe = &sortOrderNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) SortOrderGt(sortOrderGt int64) ApiGetMemesRequest {
	r.sortOrderGt = &sortOrderGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) SortOrderGte(sortOrderGte int64) ApiGetMemesRequest {
	r.sortOrderGte = &sortOrderGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) SortOrderLt(sortOrderLt int64) ApiGetMemesRequest {
	r.sortOrderLt = &sortOrderLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) SortOrderLte(sortOrderLte int64) ApiGetMemesRequest {
	r.sortOrderLte = &sortOrderLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) SortOrderIn(sortOrderIn int64) ApiGetMemesRequest {
	r.sortOrderIn = &sortOrderIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) SortOrderNotin(sortOrderNotin int64) ApiGetMemesRequest {
	r.sortOrderNotin = &sortOrderNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) SortOrderContains(sortOrderContains int64) ApiGetMemesRequest {
	r.sortOrderContains = &sortOrderContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) SortOrderNotcontains(sortOrderNotcontains int64) ApiGetMemesRequest {
	r.sortOrderNotcontains = &sortOrderNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) SortOrderDesc(sortOrderDesc string) ApiGetMemesRequest {
	r.sortOrderDesc = &sortOrderDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) SortOrderAsc(sortOrderAsc string) ApiGetMemesRequest {
	r.sortOrderAsc = &sortOrderAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) MetadataVersionEq(metadataVersionEq int64) ApiGetMemesRequest {
	r.metadataVersionEq = &metadataVersionEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) MetadataVersionNe(metadataVersionNe int64) ApiGetMemesRequest {
	r.metadataVersionNe = &metadataVersionNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) MetadataVersionGt(metadataVersionGt int64) ApiGetMemesRequest {
	r.metadataVersionGt = &metadataVersionGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) MetadataVersionGte(metadataVersionGte int64) ApiGetMemesRequest {
	r.metadataVersionGte = &metadataVersionGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) MetadataVersionLt(metadataVersionLt int64) ApiGetMemesRequest {
	r.metadataVersionLt = &metadataVersionLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) MetadataVersionLte(metadataVersionLte int64) ApiGetMemesRequest {
	r.metadataVersionLte = &metadataVersionLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) MetadataVersionIn(metadataVersionIn int64) ApiGetMemesRequest {
	r.metadataVersionIn = &metadataVersionIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) MetadataVersionNotin(metadataVersionNotin int64) ApiGetMemesRequest {
	r.metadataVersionNotin = &metadataVersionNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) MetadataVersionContains(metadataVersionContains int64) ApiGetMemesRequest {
	r.metadataVersionContains = &metadataVersionContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) MetadataVersionNotcontains(metadataVersionNotcontains int64) ApiGetMemesRequest {
	r.metadataVersionNotcontains = &metadataVersionNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) MetadataVersionDesc(metadataVersionDesc string) ApiGetMemesRequest {
	r.metadataVersionDesc = &metadataVersionDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) MetadataVersionAsc(metadataVersionAsc string) ApiGetMemesRequest {
	r.metadataVersionAsc = &metadataVersionAsc
	return r
}

// SQL &#x3D; comparison
func (r ApiGetMemesRequest) AiWorkerClaimedUntilEq(aiWorkerClaimedUntilEq time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilEq = &aiWorkerClaimedUntilEq
	return r
}

// SQL !&#x3D; comparison
func (r ApiGetMemesRequest) AiWorkerClaimedUntilNe(aiWorkerClaimedUntilNe time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilNe = &aiWorkerClaimedUntilNe
	return r
}

// SQL &gt; comparison, may not work with all column types
func (r ApiGetMemesRequest) AiWorkerClaimedUntilGt(aiWorkerClaimedUntilGt time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilGt = &aiWorkerClaimedUntilGt
	return r
}

// SQL &gt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) AiWorkerClaimedUntilGte(aiWorkerClaimedUntilGte time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilGte = &aiWorkerClaimedUntilGte
	return r
}

// SQL &lt; comparison, may not work with all column types
func (r ApiGetMemesRequest) AiWorkerClaimedUntilLt(aiWorkerClaimedUntilLt time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilLt = &aiWorkerClaimedUntilLt
	return r
}

// SQL &lt;&#x3D; comparison, may not work with all column types
func (r ApiGetMemesRequest) AiWorkerClaimedUntilLte(aiWorkerClaimedUntilLte time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilLte = &aiWorkerClaimedUntilLte
	return r
}

// SQL IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) AiWorkerClaimedUntilIn(aiWorkerClaimedUntilIn time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilIn = &aiWorkerClaimedUntilIn
	return r
}

// SQL NOT IN comparison, permits comma-separated values
func (r ApiGetMemesRequest) AiWorkerClaimedUntilNotin(aiWorkerClaimedUntilNotin time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilNotin = &aiWorkerClaimedUntilNotin
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) AiWorkerClaimedUntilContains(aiWorkerClaimedUntilContains time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilContains = &aiWorkerClaimedUntilContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) AiWorkerClaimedUntilNotcontains(aiWorkerClaimedUntilNotcontains time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilNotcontains = &aiWorkerClaimedUntilNotcontains
	return r
}

// SQL LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) AiWorkerClaimedUntilLike(aiWorkerClaimedUntilLike time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilLike = &aiWorkerClaimedUntilLike
	return r
}

// SQL NOT LIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) AiWorkerClaimedUntilNotlike(aiWorkerClaimedUntilNotlike time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilNotlike = &aiWorkerClaimedUntilNotlike
	return r
}

// SQL ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) AiWorkerClaimedUntilIlike(aiWorkerClaimedUntilIlike time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilIlike = &aiWorkerClaimedUntilIlike
	return r
}

// SQL NOT ILIKE comparison, value is implicitly prefixed and suffixed with %
func (r ApiGetMemesRequest) AiWorkerClaimedUntilNotilike(aiWorkerClaimedUntilNotilike time.Time) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilNotilike = &aiWorkerClaimedUntilNotilike
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) AiWorkerClaimedUntilDesc(aiWorkerClaimedUntilDesc string) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilDesc = &aiWorkerClaimedUntilDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) AiWorkerClaimedUntilAsc(aiWorkerClaimedUntilAsc string) ApiGetMemesRequest {
	r.aiWorkerClaimedUntilAsc = &aiWorkerClaimedUntilAsc
	return r
}

// SQL @&gt; comparison
func (r ApiGetMemesRequest) ReferencedByMemeTagMemeIdObjectsContains(referencedByMemeTagMemeIdObjectsContains interface{}) ApiGetMemesRequest {
	r.referencedByMemeTagMemeIdObjectsContains = &referencedByMemeTagMemeIdObjectsContains
	return r
}

// SQL NOT @&gt; comparison
func (r ApiGetMemesRequest) ReferencedByMemeTagMemeIdObjectsNotcontains(referencedByMemeTagMemeIdObjectsNotcontains interface{}) ApiGetMemesRequest {
	r.referencedByMemeTagMemeIdObjectsNotcontains = &referencedByMemeTagMemeIdObjectsNotcontains
	return r
}

// SQL ORDER BY _ DESC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) ReferencedByMemeTagMemeIdObjectsDesc(referencedByMemeTagMemeIdObjectsDesc string) ApiGetMemesRequest {
	r.referencedByMemeTagMemeIdObjectsDesc = &referencedByMemeTagMemeIdObjectsDesc
	return r
}

// SQL ORDER BY _ ASC clause, value is ignored (presence of key is sufficient)
func (r ApiGetMemesRequest) ReferencedByMemeTagMemeIdObjectsAsc(referencedByMemeTagMemeIdObjectsAsc string) ApiGetMemesRequest {
	r.referencedByMemeTagMemeIdObjectsAsc = &referencedByMemeTagMemeIdObjectsAsc
	return r
}

func (r ApiGetMemesRequest) Execute() (*ResponseWithGenericOfMeme, *http.Response, error) {
	return r.ApiService.GetMemesExecute(r)
}

/*
GetMemes Method for GetMemes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMemesRequest
*/
func (a *MemeAPIService) GetMemes(ctx context.Context) ApiGetMemesRequest {
	return ApiGetMemesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMeme
func (a *MemeAPIService) GetMemesExecute(r ApiGetMemesRequest) (*ResponseWithGenericOfMeme, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMeme
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.GetMemes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.referencedByMemeTagLoad != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_meme_tag__load", r.referencedByMemeTagLoad, "form", "")
	}
	if r.idEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__eq", r.idEq, "form", "")
	}
	if r.idNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ne", r.idNe, "form", "")
	}
	if r.idGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gt", r.idGt, "form", "")
	}
	if r.idGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__gte", r.idGte, "form", "")
	}
	if r.idLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lt", r.idLt, "form", "")
	}
	if r.idLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__lte", r.idLte, "form", "")
	}
	if r.idIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__in", r.idIn, "form", "")
	}
	if r.idNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notin", r.idNotin, "form", "")
	}
	if r.idContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__contains", r.idContains, "form", "")
	}
	if r.idNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notcontains", r.idNotcontains, "form", "")
	}
	if r.idLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__like", r.idLike, "form", "")
	}
	if r.idNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notlike", r.idNotlike, "form", "")
	}
	if r.idIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__ilike", r.idIlike, "form", "")
	}
	if r.idNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__notilike", r.idNotilike, "form", "")
	}
	if r.idDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__desc", r.idDesc, "form", "")
	}
	if r.idAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id__asc", r.idAsc, "form", "")
	}
	if r.createdAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__eq", r.createdAtEq, "form", "")
	}
	if r.createdAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ne", r.createdAtNe, "form", "")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gt", r.createdAtGt, "form", "")
	}
	if r.createdAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__gte", r.createdAtGte, "form", "")
	}
	if r.createdAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lt", r.createdAtLt, "form", "")
	}
	if r.createdAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__lte", r.createdAtLte, "form", "")
	}
	if r.createdAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__in", r.createdAtIn, "form", "")
	}
	if r.createdAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notin", r.createdAtNotin, "form", "")
	}
	if r.createdAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__contains", r.createdAtContains, "form", "")
	}
	if r.createdAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notcontains", r.createdAtNotcontains, "form", "")
	}
	if r.createdAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__like", r.createdAtLike, "form", "")
	}
	if r.createdAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notlike", r.createdAtNotlike, "form", "")
	}
	if r.createdAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__ilike", r.createdAtIlike, "form", "")
	}
	if r.createdAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__notilike", r.createdAtNotilike, "form", "")
	}
	if r.createdAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__desc", r.createdAtDesc, "form", "")
	}
	if r.createdAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at__asc", r.createdAtAsc, "form", "")
	}
	if r.updatedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__eq", r.updatedAtEq, "form", "")
	}
	if r.updatedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ne", r.updatedAtNe, "form", "")
	}
	if r.updatedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gt", r.updatedAtGt, "form", "")
	}
	if r.updatedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__gte", r.updatedAtGte, "form", "")
	}
	if r.updatedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lt", r.updatedAtLt, "form", "")
	}
	if r.updatedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__lte", r.updatedAtLte, "form", "")
	}
	if r.updatedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__in", r.updatedAtIn, "form", "")
	}
	if r.updatedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notin", r.updatedAtNotin, "form", "")
	}
	if r.updatedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__contains", r.updatedAtContains, "form", "")
	}
	if r.updatedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notcontains", r.updatedAtNotcontains, "form", "")
	}
	if r.updatedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__like", r.updatedAtLike, "form", "")
	}
	if r.updatedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notlike", r.updatedAtNotlike, "form", "")
	}
	if r.updatedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__ilike", r.updatedAtIlike, "form", "")
	}
	if r.updatedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__notilike", r.updatedAtNotilike, "form", "")
	}
	if r.updatedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__desc", r.updatedAtDesc, "form", "")
	}
	if r.updatedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updated_at__asc", r.updatedAtAsc, "form", "")
	}
	if r.deletedAtEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__eq", r.deletedAtEq, "form", "")
	}
	if r.deletedAtNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ne", r.deletedAtNe, "form", "")
	}
	if r.deletedAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gt", r.deletedAtGt, "form", "")
	}
	if r.deletedAtGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__gte", r.deletedAtGte, "form", "")
	}
	if r.deletedAtLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lt", r.deletedAtLt, "form", "")
	}
	if r.deletedAtLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__lte", r.deletedAtLte, "form", "")
	}
	if r.deletedAtIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__in", r.deletedAtIn, "form", "")
	}
	if r.deletedAtNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notin", r.deletedAtNotin, "form", "")
	}
	if r.deletedAtContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__contains", r.deletedAtContains, "form", "")
	}
	if r.deletedAtNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notcontains", r.deletedAtNotcontains, "form", "")
	}
	if r.deletedAtLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__like", r.deletedAtLike, "form", "")
	}
	if r.deletedAtNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notlike", r.deletedAtNotlike, "form", "")
	}
	if r.deletedAtIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__ilike", r.deletedAtIlike, "form", "")
	}
	if r.deletedAtNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__notilike", r.deletedAtNotilike, "form", "")
	}
	if r.deletedAtDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__desc", r.deletedAtDesc, "form", "")
	}
	if r.deletedAtAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deleted_at__asc", r.deletedAtAsc, "form", "")
	}
	if r.filenameEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__eq", r.filenameEq, "form", "")
	}
	if r.filenameNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__ne", r.filenameNe, "form", "")
	}
	if r.filenameGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__gt", r.filenameGt, "form", "")
	}
	if r.filenameGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__gte", r.filenameGte, "form", "")
	}
	if r.filenameLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__lt", r.filenameLt, "form", "")
	}
	if r.filenameLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__lte", r.filenameLte, "form", "")
	}
	if r.filenameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__in", r.filenameIn, "form", "")
	}
	if r.filenameNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__notin", r.filenameNotin, "form", "")
	}
	if r.filenameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__contains", r.filenameContains, "form", "")
	}
	if r.filenameNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__notcontains", r.filenameNotcontains, "form", "")
	}
	if r.filenameLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__like", r.filenameLike, "form", "")
	}
	if r.filenameNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__notlike", r.filenameNotlike, "form", "")
	}
	if r.filenameIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__ilike", r.filenameIlike, "form", "")
	}
	if r.filenameNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__notilike", r.filenameNotilike, "form", "")
	}
	if r.filenameDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__desc", r.filenameDesc, "form", "")
	}
	if r.filenameAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename__asc", r.filenameAsc, "form", "")
	}
	if r.originalNameEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__eq", r.originalNameEq, "form", "")
	}
	if r.originalNameNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__ne", r.originalNameNe, "form", "")
	}
	if r.originalNameGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__gt", r.originalNameGt, "form", "")
	}
	if r.originalNameGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__gte", r.originalNameGte, "form", "")
	}
	if r.originalNameLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__lt", r.originalNameLt, "form", "")
	}
	if r.originalNameLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__lte", r.originalNameLte, "form", "")
	}
	if r.originalNameIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__in", r.originalNameIn, "form", "")
	}
	if r.originalNameNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__notin", r.originalNameNotin, "form", "")
	}
	if r.originalNameContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__contains", r.originalNameContains, "form", "")
	}
	if r.originalNameNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__notcontains", r.originalNameNotcontains, "form", "")
	}
	if r.originalNameLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__like", r.originalNameLike, "form", "")
	}
	if r.originalNameNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__notlike", r.originalNameNotlike, "form", "")
	}
	if r.originalNameIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__ilike", r.originalNameIlike, "form", "")
	}
	if r.originalNameNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__notilike", r.originalNameNotilike, "form", "")
	}
	if r.originalNameDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__desc", r.originalNameDesc, "form", "")
	}
	if r.originalNameAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "original_name__asc", r.originalNameAsc, "form", "")
	}
	if r.mimeTypeEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__eq", r.mimeTypeEq, "form", "")
	}
	if r.mimeTypeNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__ne", r.mimeTypeNe, "form", "")
	}
	if r.mimeTypeGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__gt", r.mimeTypeGt, "form", "")
	}
	if r.mimeTypeGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__gte", r.mimeTypeGte, "form", "")
	}
	if r.mimeTypeLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__lt", r.mimeTypeLt, "form", "")
	}
	if r.mimeTypeLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__lte", r.mimeTypeLte, "form", "")
	}
	if r.mimeTypeIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__in", r.mimeTypeIn, "form", "")
	}
	if r.mimeTypeNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__notin", r.mimeTypeNotin, "form", "")
	}
	if r.mimeTypeContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__contains", r.mimeTypeContains, "form", "")
	}
	if r.mimeTypeNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__notcontains", r.mimeTypeNotcontains, "form", "")
	}
	if r.mimeTypeLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__like", r.mimeTypeLike, "form", "")
	}
	if r.mimeTypeNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__notlike", r.mimeTypeNotlike, "form", "")
	}
	if r.mimeTypeIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__ilike", r.mimeTypeIlike, "form", "")
	}
	if r.mimeTypeNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__notilike", r.mimeTypeNotilike, "form", "")
	}
	if r.mimeTypeDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__desc", r.mimeTypeDesc, "form", "")
	}
	if r.mimeTypeAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mime_type__asc", r.mimeTypeAsc, "form", "")
	}
	if r.sizeEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__eq", r.sizeEq, "form", "")
	}
	if r.sizeNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__ne", r.sizeNe, "form", "")
	}
	if r.sizeGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__gt", r.sizeGt, "form", "")
	}
	if r.sizeGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__gte", r.sizeGte, "form", "")
	}
	if r.sizeLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__lt", r.sizeLt, "form", "")
	}
	if r.sizeLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__lte", r.sizeLte, "form", "")
	}
	if r.sizeIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__in", r.sizeIn, "form", "")
	}
	if r.sizeNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__notin", r.sizeNotin, "form", "")
	}
	if r.sizeContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__contains", r.sizeContains, "form", "")
	}
	if r.sizeNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__notcontains", r.sizeNotcontains, "form", "")
	}
	if r.sizeDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__desc", r.sizeDesc, "form", "")
	}
	if r.sizeAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size__asc", r.sizeAsc, "form", "")
	}
	if r.descriptionEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__eq", r.descriptionEq, "form", "")
	}
	if r.descriptionNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__ne", r.descriptionNe, "form", "")
	}
	if r.descriptionGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__gt", r.descriptionGt, "form", "")
	}
	if r.descriptionGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__gte", r.descriptionGte, "form", "")
	}
	if r.descriptionLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__lt", r.descriptionLt, "form", "")
	}
	if r.descriptionLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__lte", r.descriptionLte, "form", "")
	}
	if r.descriptionIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__in", r.descriptionIn, "form", "")
	}
	if r.descriptionNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__notin", r.descriptionNotin, "form", "")
	}
	if r.descriptionContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__contains", r.descriptionContains, "form", "")
	}
	if r.descriptionNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__notcontains", r.descriptionNotcontains, "form", "")
	}
	if r.descriptionLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__like", r.descriptionLike, "form", "")
	}
	if r.descriptionNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__notlike", r.descriptionNotlike, "form", "")
	}
	if r.descriptionIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__ilike", r.descriptionIlike, "form", "")
	}
	if r.descriptionNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__notilike", r.descriptionNotilike, "form", "")
	}
	if r.descriptionDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__desc", r.descriptionDesc, "form", "")
	}
	if r.descriptionAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description__asc", r.descriptionAsc, "form", "")
	}
	if r.descriptionStatusEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__eq", r.descriptionStatusEq, "form", "")
	}
	if r.descriptionStatusNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__ne", r.descriptionStatusNe, "form", "")
	}
	if r.descriptionStatusGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__gt", r.descriptionStatusGt, "form", "")
	}
	if r.descriptionStatusGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__gte", r.descriptionStatusGte, "form", "")
	}
	if r.descriptionStatusLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__lt", r.descriptionStatusLt, "form", "")
	}
	if r.descriptionStatusLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__lte", r.descriptionStatusLte, "form", "")
	}
	if r.descriptionStatusIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__in", r.descriptionStatusIn, "form", "")
	}
	if r.descriptionStatusNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__notin", r.descriptionStatusNotin, "form", "")
	}
	if r.descriptionStatusContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__contains", r.descriptionStatusContains, "form", "")
	}
	if r.descriptionStatusNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__notcontains", r.descriptionStatusNotcontains, "form", "")
	}
	if r.descriptionStatusLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__like", r.descriptionStatusLike, "form", "")
	}
	if r.descriptionStatusNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__notlike", r.descriptionStatusNotlike, "form", "")
	}
	if r.descriptionStatusIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__ilike", r.descriptionStatusIlike, "form", "")
	}
	if r.descriptionStatusNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__notilike", r.descriptionStatusNotilike, "form", "")
	}
	if r.descriptionStatusDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__desc", r.descriptionStatusDesc, "form", "")
	}
	if r.descriptionStatusAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_status__asc", r.descriptionStatusAsc, "form", "")
	}
	if r.descriptionGeneratedEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__eq", r.descriptionGeneratedEq, "form", "")
	}
	if r.descriptionGeneratedNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__ne", r.descriptionGeneratedNe, "form", "")
	}
	if r.descriptionGeneratedGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__gt", r.descriptionGeneratedGt, "form", "")
	}
	if r.descriptionGeneratedGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__gte", r.descriptionGeneratedGte, "form", "")
	}
	if r.descriptionGeneratedLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__lt", r.descriptionGeneratedLt, "form", "")
	}
	if r.descriptionGeneratedLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__lte", r.descriptionGeneratedLte, "form", "")
	}
	if r.descriptionGeneratedIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__in", r.descriptionGeneratedIn, "form", "")
	}
	if r.descriptionGeneratedNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__notin", r.descriptionGeneratedNotin, "form", "")
	}
	if r.descriptionGeneratedContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__contains", r.descriptionGeneratedContains, "form", "")
	}
	if r.descriptionGeneratedNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__notcontains", r.descriptionGeneratedNotcontains, "form", "")
	}
	if r.descriptionGeneratedDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__desc", r.descriptionGeneratedDesc, "form", "")
	}
	if r.descriptionGeneratedAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description_generated__asc", r.descriptionGeneratedAsc, "form", "")
	}
	if r.sortOrderEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__eq", r.sortOrderEq, "form", "")
	}
	if r.sortOrderNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__ne", r.sortOrderNe, "form", "")
	}
	if r.sortOrderGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__gt", r.sortOrderGt, "form", "")
	}
	if r.sortOrderGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__gte", r.sortOrderGte, "form", "")
	}
	if r.sortOrderLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__lt", r.sortOrderLt, "form", "")
	}
	if r.sortOrderLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__lte", r.sortOrderLte, "form", "")
	}
	if r.sortOrderIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__in", r.sortOrderIn, "form", "")
	}
	if r.sortOrderNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__notin", r.sortOrderNotin, "form", "")
	}
	if r.sortOrderContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__contains", r.sortOrderContains, "form", "")
	}
	if r.sortOrderNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__notcontains", r.sortOrderNotcontains, "form", "")
	}
	if r.sortOrderDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__desc", r.sortOrderDesc, "form", "")
	}
	if r.sortOrderAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order__asc", r.sortOrderAsc, "form", "")
	}
	if r.metadataVersionEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__eq", r.metadataVersionEq, "form", "")
	}
	if r.metadataVersionNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__ne", r.metadataVersionNe, "form", "")
	}
	if r.metadataVersionGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__gt", r.metadataVersionGt, "form", "")
	}
	if r.metadataVersionGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__gte", r.metadataVersionGte, "form", "")
	}
	if r.metadataVersionLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__lt", r.metadataVersionLt, "form", "")
	}
	if r.metadataVersionLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__lte", r.metadataVersionLte, "form", "")
	}
	if r.metadataVersionIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__in", r.metadataVersionIn, "form", "")
	}
	if r.metadataVersionNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__notin", r.metadataVersionNotin, "form", "")
	}
	if r.metadataVersionContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__contains", r.metadataVersionContains, "form", "")
	}
	if r.metadataVersionNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__notcontains", r.metadataVersionNotcontains, "form", "")
	}
	if r.metadataVersionDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__desc", r.metadataVersionDesc, "form", "")
	}
	if r.metadataVersionAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata_version__asc", r.metadataVersionAsc, "form", "")
	}
	if r.aiWorkerClaimedUntilEq != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__eq", r.aiWorkerClaimedUntilEq, "form", "")
	}
	if r.aiWorkerClaimedUntilNe != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__ne", r.aiWorkerClaimedUntilNe, "form", "")
	}
	if r.aiWorkerClaimedUntilGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__gt", r.aiWorkerClaimedUntilGt, "form", "")
	}
	if r.aiWorkerClaimedUntilGte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__gte", r.aiWorkerClaimedUntilGte, "form", "")
	}
	if r.aiWorkerClaimedUntilLt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__lt", r.aiWorkerClaimedUntilLt, "form", "")
	}
	if r.aiWorkerClaimedUntilLte != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__lte", r.aiWorkerClaimedUntilLte, "form", "")
	}
	if r.aiWorkerClaimedUntilIn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__in", r.aiWorkerClaimedUntilIn, "form", "")
	}
	if r.aiWorkerClaimedUntilNotin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__notin", r.aiWorkerClaimedUntilNotin, "form", "")
	}
	if r.aiWorkerClaimedUntilContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__contains", r.aiWorkerClaimedUntilContains, "form", "")
	}
	if r.aiWorkerClaimedUntilNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__notcontains", r.aiWorkerClaimedUntilNotcontains, "form", "")
	}
	if r.aiWorkerClaimedUntilLike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__like", r.aiWorkerClaimedUntilLike, "form", "")
	}
	if r.aiWorkerClaimedUntilNotlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__notlike", r.aiWorkerClaimedUntilNotlike, "form", "")
	}
	if r.aiWorkerClaimedUntilIlike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__ilike", r.aiWorkerClaimedUntilIlike, "form", "")
	}
	if r.aiWorkerClaimedUntilNotilike != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__notilike", r.aiWorkerClaimedUntilNotilike, "form", "")
	}
	if r.aiWorkerClaimedUntilDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__desc", r.aiWorkerClaimedUntilDesc, "form", "")
	}
	if r.aiWorkerClaimedUntilAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ai_worker_claimed_until__asc", r.aiWorkerClaimedUntilAsc, "form", "")
	}
	if r.referencedByMemeTagMemeIdObjectsContains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_meme_tag_meme_id_objects__contains", r.referencedByMemeTagMemeIdObjectsContains, "form", "")
	}
	if r.referencedByMemeTagMemeIdObjectsNotcontains != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_meme_tag_meme_id_objects__notcontains", r.referencedByMemeTagMemeIdObjectsNotcontains, "form", "")
	}
	if r.referencedByMemeTagMemeIdObjectsDesc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_meme_tag_meme_id_objects__desc", r.referencedByMemeTagMemeIdObjectsDesc, "form", "")
	}
	if r.referencedByMemeTagMemeIdObjectsAsc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenced_by_meme_tag_meme_id_objects__asc", r.referencedByMemeTagMemeIdObjectsAsc, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchMemeRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	primaryKey string
	meme *Meme
	depth *int64
}

func (r ApiPatchMemeRequest) Meme(meme Meme) ApiPatchMemeRequest {
	r.meme = &meme
	return r
}

// Query parameter depth
func (r ApiPatchMemeRequest) Depth(depth int64) ApiPatchMemeRequest {
	r.depth = &depth
	return r
}

func (r ApiPatchMemeRequest) Execute() (*ResponseWithGenericOfMeme, *http.Response, error) {
	return r.ApiService.PatchMemeExecute(r)
}

/*
PatchMeme Method for PatchMeme

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPatchMemeRequest
*/
func (a *MemeAPIService) PatchMeme(ctx context.Context, primaryKey string) ApiPatchMemeRequest {
	return ApiPatchMemeRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMeme
func (a *MemeAPIService) PatchMemeExecute(r ApiPatchMemeRequest) (*ResponseWithGenericOfMeme, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMeme
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.PatchMeme")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes/{primaryKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.meme == nil {
		return localVarReturnValue, nil, reportError("meme is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.meme
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMemesRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	meme *[]Meme
	depth *int64
}

func (r ApiPostMemesRequest) Meme(meme []Meme) ApiPostMemesRequest {
	r.meme = &meme
	return r
}

// Query parameter depth
func (r ApiPostMemesRequest) Depth(depth int64) ApiPostMemesRequest {
	r.depth = &depth
	return r
}

func (r ApiPostMemesRequest) Execute() (*ResponseWithGenericOfMeme, *http.Response, error) {
	return r.ApiService.PostMemesExecute(r)
}

/*
PostMemes Method for PostMemes

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPostMemesRequest
*/
func (a *MemeAPIService) PostMemes(ctx context.Context) ApiPostMemesRequest {
	return ApiPostMemesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMeme
func (a *MemeAPIService) PostMemesExecute(r ApiPostMemesRequest) (*ResponseWithGenericOfMeme, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMeme
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.PostMemes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.meme == nil {
		return localVarReturnValue, nil, reportError("meme is required and must be specified")
	}

	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.meme
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PostAiWorkerClaimMemesDefaultResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostMemesAiWorkerClaimRequest struct {
	ctx context.Context
	ApiService *MemeAPIService
	primaryKey string
	memeAiWorkerClaimRequest *MemeAiWorkerClaimRequest
	depth *int64
}

func (r ApiPostMemesAiWorkerClaimRequest) MemeAiWorkerClaimRequest(memeAiWorkerClaimRequest MemeAiWorkerClaimRequest) ApiPostMemesAiWorkerClaimRequest {
	r.memeAiWorkerClaimRequest = &memeAiWorkerClaimRequest
	return r
}

// Query parameter depth
func (r ApiPostMemesAiWorkerClaimRequest) Depth(depth int64) ApiPostMemesAiWorkerClaimRequest {
	r.depth = &depth
	return r
}

func (r ApiPostMemesAiWorkerClaimRequest) Execute() (*ResponseWithGenericOfMeme, *http.Response, error) {
	return r.ApiService.PostMemesAiWorkerClaimExecute(r)
}

/*
PostMemesAiWorkerClaim Method for PostMemesAiWorkerClaim

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param primaryKey Path parameter primaryKey
 @return ApiPostMemesAiWorkerClaimRequest
*/
func (a *MemeAPIService) PostMemesAiWorkerClaim(ctx context.Context, primaryKey string) ApiPostMemesAiWorkerClaimRequest {
	return ApiPostMemesAiWorkerClaimRequest{
		ApiService: a,
		ctx: ctx,
		primaryKey: primaryKey,
	}
}

// Execute executes the request
//  @return ResponseWithGenericOfMeme
func (a *MemeAPIService) PostMemesAiWorkerClaimExecute(r ApiPostMemesAiWorkerClaimRequest) (*ResponseWithGenericOfMeme, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResponseWithGenericOfMeme
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemeAPIService.PostMemesAiWorkerClaim")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/memes/{primaryKey}/ai-worker-claim"
	localVarPath = strings.Replace(localVarPath, "{"+"primaryKey"+"}", url.PathEscape(parameterValueToString(r.primaryKey, "primaryKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.memeAiWorkerClaimRequest == nil {
[...]
